/* Глобальные, общие */
body {
	margin: 0;
    padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Roboto","Arial", sans-serif;
	background-color: #849d8f;
}
.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: 50% 0;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/ice-cream-2.png");
}
.site-wrapper::after {
  background-image: url("../img/ice-cream-3.png");
}
.container {
	width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 27px;
    padding-right: 27px;
}
.about-items,
.footer-navigation,
.main-menu,
.sub-menu,
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.visually-hidden {
	position: absolute;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.fat,
.fillers {
	border: none;
}
/* Ссылки, текстовые стили */
.main-menu .main-menu-link {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	line-height: 18px;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 14px;
	padding-right: 14px;
}
.main-menu-link span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-menu .link-catalog {
	position: relative;
	padding-bottom: 12px;
}
.main-menu .link-on-page {
	background-color: #d07058;
	border-radius: 100px;
}
.main-menu .main-menu-link:hover {
	color: #323232;
	text-decoration: none;
	background-color: #ffffff;
	border-radius: 100px;
}
.link-catalog:hover .sub-menu {
	display: block;
}
.main-menu .main-menu-link:active {
	color: #323232;
	text-decoration: none;
	background-color: #ededed;
	border-radius: 100px;
	box-shadow: inset 0px 2px 1px #696969;
}
.sub-menu a {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	color: #323232;
	line-height: 16px;
	text-decoration: none;
	padding-left: 20px;
	padding-bottom: 6px;
	padding-right: 20px;
	padding-top: 5px;
}
.sub-menu .link-new {
	font-weight: bold;
	color: #323232;
	margin-top: 10px;
	margin-bottom: 15px;
	position: relative;
}
.sub-menu .link-new:after {
	content: '';
	position: absolute;
	top: 30px;
	left: 5px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 90%;
	height: 1px;
  	background: rgba(53, 53, 53, 0.2);
}
.sub-menu a:hover {
	background-color: #fbded7;
	border-radius: 0;
}
.sub-menu a:active {
	background-color: #f6b5a5;
}
.search {
	display: block;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	position: relative;
}
.search .link-search {
	font-size: 0px;

}
.search .icon-search {
  	position: absolute;
  	top: 6px;
  	left: 6px;
  	width: 17px;
  	height: 17px;
  	fill: #ffffff;
  	padding-bottom: 15px;
}
.search:hover {
	background-color: #ffffff;
}
.search:hover .icon-search {
	fill: #323232;
}
.search:hover .search-wrapper {
	display: block;
}
.search-wrapper label {
	order: -1;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	opacity: 0;
	position: absolute;
	top: 5px;
	left: 23px;
}
.search-input:focus::-webkit-input-placeholder {
	color: transparent;
	transition: color 0.3s ease;
}
.search-input:focus:input:-moz-placeholder {
	color: transparent;
	transition: color 0.3s ease;
}
.search-input:focus + label {
	opacity: 1;
	color: #5b9ddf;
}
.label-login {
	order: -1;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	opacity: 0;
	position: absolute;
	top: 5px;
	left: 23px;
}
.label-passwd {
	order: -1;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	opacity: 0;
	position: absolute;
	top: 82px;
	left: 23px;
}
.form-input:focus::-webkit-input-placeholder {
	color: transparent;
	transition: color 0.3s ease;
}
.form-input:focus:input:-moz-placeholder {
	color: transparent;
	transition: color 0.3s ease;
}
.form-input:focus + label {
	opacity: 1;
	color: #5b9ddf;
}
/*.search-input:valid + label {
	opacity: 1;
	color: #999999;
}*/
.user-menu a {
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	text-decoration: none;
}
.basket {
	display: block;
	width: 110px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	text-align: center;
	position: relative;
	padding: 3px 3px;
}
.basket a {
	padding-left: 15px;
}
.basket .icon-basket {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 83px;
	fill: #ffffff;
}
.authorize .authorize-link-entrance {
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	line-height: 16px;
	text-decoration: none;
	display: block;
	width: 70px;
	min-height: 25px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	text-align: center;
	padding-top: 7px;
	padding-left: 21px;
}
.authorize-link-entrance span {
	padding-bottom: 15px;
}
.authorize .authorize-link {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
	position: relative;
}
.authorize .icon-authorize {
	width: 21px;
	height: 19px;
	position: absolute;
	fill: #ffffff;
	top: 7px;
	left: 15px;
}
.authorize:hover .icon-authorize {
	fill: #323232;
}
.authorize .authorize-link-entrance:hover {
	color: #323232;
	background-color: #ffffff;
}
.authorize:hover .authorize-wrapper {
	display: block;
}
.authorize-wrapper {
	display: none;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f8f7f4;
	box-sizing: border-box;
	border-radius: 5px;
	top: 40px;
	right: 0;
	z-index: 20;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.authorize-links {
	position: absolute;
	width: 130px;
	top: 160px;
	left: 140px;
}
.header-contacts a {
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	line-height: 24px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.header-contacts a:hover,
.header-contacts a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
.store-mode {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	margin-bottom: 5px;
}
.offers p {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-left: 20px;
	margin-bottom: 38px;
}
.offers-title,
.catalog-title {
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
	color: #ffffff;
	padding-top: 5px;
}
.offers-title {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-right: 27px;
	margin-left: 20px;
	text-align: left;
}
.item-title {
	display: inline;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	line-height: 22px;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.item-title:hover,
.item-title:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}
.catalog-item a {
	text-decoration: none;
	margin-bottom: 40px;
}
.price {
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	text-shadow: 0 0 10px rgba(49, 50, 53, 0.5);
	position: absolute;
	top: 160px;
}
.price + span {
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
	text-shadow: 0 0 10px rgba(49, 50, 53, 0.5);
	position: absolute;
	top: 210px;
	left: 115px;
}
.lead-text {
	display: inline-block;
	font-size: 24px;
	color: #323232;
	line-height: 30px;
	font-weight: bold;
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: 23px;
}
.article-title {
	display: inline-block;
	margin: 0;
	width: 330px;
	font-size: 24px;
	font-weight: bold;
	color: #323232;
	line-height: 30px;
	text-decoration: underline;
	margin-top: 5px;
	margin-left: 20px;
}
.article-title > h3 {
	font-size: 24px;
	margin: 0;
}
.article-title:hover,
.article-title:active {
	color: #ffbc9e;
}
.ordinary-text {
	font-size: 16px;
	font-weight: normal;
	color: #323232;
	line-height: 22px;
	padding: 0;
	margin: 0;
}
.text-small {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-top: 27px;
	margin-left: 25px;
	margin-right: 50px;
}
.text-small-simple {
	margin: 0;
	font-size: 14px;
	line-height: 22px;
	margin-left: 25px;
	margin-right: 50px;
}
.big-text,
.big-text-link {
	display: inline-block;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
	text-decoration: none;
	margin-left: 25px;
	margin-right: 50px;
	vertical-align: top;
}
.big-text-link:hover,
.big-text-link:active  {
	color: #ffbc9e;
	text-decoration: underline;
}
.footer-navigation,
.footer-navigation a {
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
	padding-left: 25px;
}
.footer-navigation .for-partners {
	font-weight: bold;
	position: relative;
}
.footer-navigation .for-partners:before {
	content: url("../img/heart.svg");
	position: absolute;
	left: -20px;
	width: 15px;
	height: 15px;
}
.footer-navigation a:hover,
.footer-navigation a:active {
	color: #ffbc9e;
	text-decoration: underline;
}
.footer-copywright a,
.footer-copywright p {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
	margin: 0;
	padding: 0;
}
.footer-copywright a:hover,
.footer-copywright a:active {
	color: #ffbc9e;
	text-decoration: underline;
}
.footer-copywright-logo {
	padding: 0;
	margin: 0;
}
.footer-copywright-logo img {
	width: 108px;
	height: 39px;
}
.modal-feedback h3 {
	font-size: 24px;
	font-weight: normal;
	color: #323232;
	line-height: 28px;
}
.catalog-pagination a {
	display: inline-block;
	width: 17px;
	height: 22px;
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	vertical-align: top;
}
.catalog-pagination .pagination-current {
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}
.catalog-pagination a:hover,
.pagination-items button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}
.catalog-pagination a:active,
.pagination-items button:active {
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}
.basket-products {
	font-size: 13px;
	font-weight: normal;
	color: #323232;
	line-height: 16px;
	margin-top: 20px;
	margin-left: 15px;
}
.basket-products .products-price {
	color: #999999;
}
.basket-cost {
	font-size: 15px;
	font-weight: bold;
	color: #323232;
	line-height: 18px;
	text-align: right;
}
.blog-article > .ordinary-text {
	display: block;
	margin-top: 22px;
	margin-left: 20px;
}
/* Инпуты, чекбоксы, радио */
.form-input
 {
	border: 1px solid #d3d3d2;
	width: 240px;
	min-height: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 15px 15px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}
.search-input {
	margin: 0;
	margin-top: 20px;
	width: 310px;
	min-height: 44px;
	padding: 15px 20px;
}
.subscribe-form {
	width: 368px;
	min-height: 45px;
	margin-top: 35px;
	margin-bottom: 30px;
	padding: 10px 10px;
}
.feedback {
	width: 267px;
	min-height: 44px;
}
.feedback-text {
	width: 428px;
	min-height: 155px;
	border: 1px solid #d3d3d2;
	box-sizing: border-box;
	border-radius: 5px; 	
}
.form-input:hover,
.feedback-text:hover
 {
 	border: 2px solid #c7c6c5;
}
.form-input:focus,
.feedback-text:focus
 {
	border: 2px solid #8fbdec;
	outline: none;
}
.labels {
	position: relative;
}

.sort-products {
  width: 190px;
  padding-left: 15px;
  margin-top: 5px;
  color: #ffffff;
  border: 0;
  min-height: 32px;
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter-sort .sort-icon {
	width: 11px;
	height: 10px;
	position: absolute;
	top: 33px;
	right: 32px;
	fill: #ffffff;
}
.sort-products:hover {
  color: #000000;
  background-color: #ffffff;
}
.sort-products:hover + .sort-icon {
  fill: #000000;
}
.fillers input[type="checkbox"],
.fat .fat-radio {
	display: none;
}
.fat .fat-amount {
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	padding-left: 32px;
	padding-right: 15px;
	font-size: 16px;
	line-height: 18px;
	vertical-align: bottom;
}
.fat-radio:checked + .fat-amount:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/radio-on.svg");
  background-size: cover;
  opacity: 0.8;
}
.fat-radio + .fat-amount:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/radio-off.svg");
  background-size: cover;
  opacity: 0.8;
}
.fillers label {
	position: relative;
	padding-left: 20px;
	margin-right: 20px;
}
.fillers-checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-size: cover;
  opacity: 0.8;
}
.fillers-checkbox + label:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-size: cover;
  opacity: 0.8;
}
.fillers-checkbox:hover + label:before,
.fat-radio:hover + label:before {
	opacity: 1;
}
.fillers-checkbox:disabled + label:before,
.fat-radio:disabled + label:before {
	opacity: 0.4;
}
/* Кнопки */
.button {
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
	line-height: 44px;
	text-decoration: none;
	background-color: #f16642;
	border: none;
	border-radius: 30px;
	vertical-align: top;
  	text-align: center;
	cursor: pointer;
	text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 2px 2px 2px rgba(160, 32, 11, 0.64);
}
.order-button {
	width: 170px;
	padding: 15px 0;
	margin-right: 15px;
	margin-top: 18px;
}
.authorize-button {
	font-size: 18px;
	line-height: 24px;
	position: relative;
	width: 100px;
	padding: 5px 5px;
}
.hot-offers {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	line-height: 24px;
	margin-right: 20px;
	padding: 10px 23px;
}
.button:hover {
	 background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
	background: linear-gradient(to top, #e1613e 0%, #d84833 100%);
	box-shadow: inset 1px 1px 1px rgba(148, 39, 24, 1);
}
.btn {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.button-email {
	width: 128px;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 10px;
	margin-top: 35px;
	margin-left: 5px;
}
.send-button {
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
	margin-top: 34px;
	margin-left: 10px;
}
.contacts .send-button {
	margin-top: 27px;
	margin-left: 25px;
	margin-right: 27px;
	margin-bottom: 27px;
}
.quick-view {
	display: none;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	width: 200px;
	position: absolute;
	top: 350px;
	left: 30px;
	z-index: 10;
}
.slide-button {
	padding: 13px 40px;
}
.apply-button {
	margin: 0;
	margin-left: 11px;
	padding: 5px 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	background-color: rgba(255, 255, 255, 0.19);
	border: 2px solid #ffffff;
	border-radius: 23px;
	min-height: 37px;
}
.apply-button:hover {
  color: #323232;
  background-color: #ffffff;
  cursor: pointer;
}
.apply-button:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px #696969;
  cursor: pointer;
}
/*Фоны и блоки*/
.sub-menu {
	display: none;
  	position: absolute;
  	top: 35px;
  	left: -20px;
  	width: 143px;
  	margin: 0;
  	padding: 0;
	min-height: 170px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	z-index: 10;
}
.search-wrapper {
	display: none;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f8f7f4;
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	top: 35px;
	right: 0px;
}
.offers {
	margin-top: 50px;
}
.offers-item {
	width: 560px;
	min-height: 230px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
}
.item-first {
	background-image: url("../img/raspberry.jpg");
	background-color: #854450;
}
.item-second {
	background-image: url("../img/choco.jpg");
	background-color: #715c54;
}
.about {
	width: 100%;
	min-height: 305px;
	background-image: url("../img/waffles.jpg");
	background-color: #d8ccb2;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
}
.blog-article {
	width: 560px;
	min-height: 220px;
	background-image: url("../img/strawberries.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 17% 39%;
	border-radius: 12px;
	margin-right: 27px;
}
.filter-horizontal {
	margin-top: 20px;
}
.subscribe {
	width: 560px;
	min-height: 220px;
	background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
	background-color: #92cdff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
	border-radius: 12px;
	box-sizing: border-box;
}
.subscribe .substrate {
	margin: 0;
	padding: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	margin: 5px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.adress-map {
	height: 430px;
	background-image: url("../img/adress-map.jpg");
	background-color: #cee0c0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin-top: 40px;
	width: 100%;
}
.adress-map iframe {
	border: none;
}
.contacts-wrapper {
	position: relative;
}
.contacts {
	position: absolute;
	width: 300px;
	top: -375px;
	right: 27px;
	min-height: 305px;
	background-color: #ffffff;
	border-radius: 12px;
}
.authorize {
	box-sizing: border-box;
	position: relative;
}
.modal {
	display: none;
	width: 478px;
	min-height: 443px;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 12px;
}
.page-header {
	padding: 0;
	margin: 0;
}
.products-wrapper {
	display: none;
	width: 540px;
	min-height: 242px;
	background-color: #f8f7f4;
	position: absolute;
	width: 540px;
	right: 0;
	top: 35px;
	border-radius: 5px;
	z-index: 20;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.products-wrapper button {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
	padding-right: 16px;
	padding-left: 15px;
	width: 30px;
	height: 30px;
	background-image: url('../img/cross-small.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.products-in-basket {
	border-radius: 5px;
	text-align: left;
}
/*.products-in-basket button:before {
	content: url(../img/cross-small.svg);
	position: absolute;
	left: 20px;
	width: 15px;
	height: 15px;
}*/
.basket-summary:before {
	content: '';
	position: absolute;
	top: -15px;
	left: 15px;
	right: 15px;
	vertical-align: middle;
	box-sizing: border-box;
	height: 1px;
  	background: rgba(53, 53, 53, 0.2);
}
.basket-summary {
	margin-top: 35px;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.basket-summary span {
	color: #323232;
	line-height: 18px;
	font-weight: bold;
	margin-right: 15px;
}
.basket:hover .products-wrapper {
	display: block;
}
.header-logo {
	width: 155px;
	height: 65px;
	margin-top: 10px;
	margin-right: 9px;
}
.header-top {
	display: flex;
}
.page-navigation {
	display: flex;
}
.main-menu {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	min-width: 380px;
	align-items: center;
	justify-content: space-between;
	margin-right: 345px;
}
.user-menu {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.user-menu .search {
	margin-right: 10px;
}
.user-menu .basket {
	margin-left: 10px;
}
.header-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.offers {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 40px;
	width: 100%;
	justify-content: space-between;
}
.catalog-item {
	position: relative;
	width: 268px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.catalog-item:before {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 277px;
	height: 405px;
	padding: 0;
 	border-radius: 5px;
}
.catalog-item:hover .quick-view {
	display: block;
}
.catalog-item:before:hover {
	background-color: rgba(255, 255, 255, 0.2); 
}
.popular:after {
	content: url("../img/hit.svg");
	position: absolute;
	top: -5px;
	left: 5px;
	z-index: 20;
}
.icon-rouble {
	position: absolute;
	display: inline;
	top: 210px;
	left: 80px;
}
.blog-and-subscribe {
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
}
.page-footer {
	margin-top: 20px;
	display: flex;
}
.footer-copywright {
	display: flex;
	padding: 0;
	margin: 0;
}
.about-items {
	display: flex;
	flex-wrap: wrap;
}
.list-item {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-content: flex-end;
	width: 50%;
	position: relative;
	padding-left: 75px;
	padding-right: 22px;
	padding-bottom: 25px;
}
.list-item:first-child:before {
	content: url("../img/ice-cream.svg");
	position: absolute;
	left: 18px;
	top: -11px;
}
.list-item:nth-child(2):before {
	content: url("../img/cow.svg");
	position: absolute;
	left: 14px;
	top: -11px;
}
.list-item:nth-child(3):before {
	content: url("../img/eco.svg");
	position: absolute;
	left: 18px;
	top: -11px;
}
.list-item:last-child:before {
	content: url("../img/thermometer.svg");
	position: absolute;
	left: 14px;
	top: -11px;
}
.footer-navigation {
	margin: 0;
	padding: 0;
	margin-top: 12px;
	display: flex;
    flex-wrap: wrap;
	padding-left: 20px;
}
.footer-navigation-item {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}
.footer-social {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.footer-social .social-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 7px;
	width: 30px;
	height: 30px;
	font-size: 0;
	border: 4px solid rgba(255,255,255, 0.5);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 30% 70%;
	opacity: 0.8;
	margin-right: 8px;
}
.footer-social .icon-twitter {
	background-image: url("../img/twitter.svg"); 
}
.footer-social .icon-instagram {
	background-image: url("../img/instagram.svg"); 
}
.footer-social .icon-fb {
	background-image: url("../img/fb.svg"); 
}
.footer-social .icon-vk {
	background-image: url("../img/vk.svg"); 
}
.footer-social .social-icon:hover {
	opacity: 1;
	border: 4px solid rgba(255,255,255, 0.7);
}
.footer-social .social-icon:active {
	opacity: 1;
	fill: #e9e9e9; 
	border: 4px solid rgba(255,255,255, 0.7);
	box-shadow: inset 0px 2px 1px #888888;
}
.footer-catalog {
	position: relative;
}
.footer-catalog:before {
	content: '';
	position: absolute;
	top: -20px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 1px;
  	background: rgba(255, 255, 255, 0.3);
}
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-top: -22px;
}
.breadcrumb-item,
.breadcrumb-item a
 {
 	margin: 0;
 	padding: 0;
	font-size: 14px;
	color: #ffffff;
	line-height: 16px;
	text-decoration: none;
	position: relative;
}
.breadcrumb-item  {
	padding-right: 20px;
}
.breadcrumb-item a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.breadcrumb-item:after {
	content: '»';
	position: absolute;
	top: 0;
	left: 60px;
}
.breadcrumb-item:last-child:after {
	content: '';
}
.filter-wrap {
	display: flex;
	width: 100%;
	align-items: flex-end;
	margin-bottom: 16px;
}
.filter-sort {
	display: flex;
	flex-direction: column;
	width: 210px;
	position: relative;
}
.label-sort {
	padding: 0;
	margin: 0;
	padding-left: 17px;
	font-size: 14px;
	line-height: 16px;
}
.filter-price {
	display: flex;
	flex-direction: column;
	width: 230px;
}
.price-constraints span {
	font-size: 14px;
	line-height: 16px;
	padding-left: 16px;
}
.price-label {
	font-size: 14px;
	line-height: 16px;
}
.filter-fat {
	display: flex;
	flex-direction: column;
}
.fat-label {
	padding: 0;
	margin: 0;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	padding-left: 15px;
}
.fat {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 100px;
}
.filter-fillers {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 650px;
}
.filter-apply {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 170px;
}
.catalog-pagination {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: flex-end;
	margin-top: 100px;
	margin-bottom: 30px;
}
.pagination-items {
	display: flex;
	max-width: 100%;
}
.pagination-items button {
	font-size: 0;
	background-color: transparent;
	border: none;
	padding-right: 25px;
	background: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: center; 
}
.pagination-items button:first-child {
	transform: rotate(180deg);
}
.main-slider {
	position: relative;
	text-align: center;
}
body input[type="radio"] {
	display: none;
}
.slide {
	display: none;
	text-align: center;
}
.slider-text {
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	margin: 0 auto;
	margin-bottom: 45px;
	margin-top: 270px;
}
.slider-pagination {
	position: absolute;
	bottom: 30px;
	top: 172px;
}
.slider-pagination label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 6px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide-first,
#btn-2:checked ~ .site-wrapper #slide-second,
#btn-3:checked ~ .site-wrapper #slide-third {
	display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice-cream-2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice-cream-3.png");
}
.price-range-wrapper {
	position: relative;
	width: 220px;
	min-height: 35px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	margin-top: 5px;
}
.price-constraints .fiter-text {
	width: 24px;
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	background: transparent;
	border: none;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
}
.price-constraints .price-min:after {
	content: '–';
	margin-left: 5px;
}
.price-range {
	position: absolute;
	width: 30px;
	margin-bottom: 10px;
	top: 16px;
	left: 25px;
}
.price-range .price-scale {
	width: 175px;
	height: 3px;
	background: rgba(255, 255, 255, 0.5);
}
.price-range .price-bar {
	position: absolute;
	left: 12px;
	width: 100px;
	height: 3px;
	background: #ffffff;
}
.range-toggle {
	width: 3px;
	height: 3px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	cursor: pointer;
}
.range-toggle-min {
	left: 10px;
}
.range-toggle-max {
	left: 108px;
}